.dino{
    width:60px;
    height: 90px;
    position:absolute;
    background-image: url(amir-rex1.png);
    bottom:0px;
}

.obstacle {
    position: absolute;
    width: 70px;
    height: 140px;
    background-image: url(koby-rex.png);
    bottom: 0px;
}

#desert {
    position: absolute;
    bottom: 0px;
    background-image: url('t-rex-background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
  }

  @-webkit-keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
