.dino {
    width:60px;
    height: 60px;
    position:absolute;
    background-image: url(t-rex.png);
    bottom: 5px;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(cacti.png);
    bottom: 5px;
}

#alert{
    position:absolute;
    left:0px;
    color:grey;
}

#scoreLbl {
    position: absolute;
    right: 120px;
    color: gray;
}

#score{
    position: absolute;
    right: 60px;
    color: gray;
}

#desert {
    position: absolute;
    bottom: 24px;
    background-image: url('t-rex-background.png');
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    -webkit-animation: slideright 600s infinite linear;
    width: 99%;
    height: 250px;
  }

  @-webkit-keyframes slideright {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
  }
